body{
    background: url('../img/arti-header.jpg') center;
    background-size: cover;
    min-height: 800px;
    font-family: 'Helvetica Neue', sans-serif;
    }

.contenue{
    color: black;
    background-color: white;
    width: 550px;
    margin-left: 50px;
    text-align: center;
    
}